<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="OnSignin(f)" #f="ngForm">
  
  <div class="form-group">
    <label for="Business ID">Enter your Business ID</label>
    <input type="name" id="busid" name="busid" ngModel class="form-control">
  </div>

  <div class="form-group">
    <label for="userID">Login ID</label>
    <input type="uid" id="loginid" name="loginid" ngModel class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" ngModel class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">SignIn</button>
</form> 
  </div>
</div>



